
@font-face {
    font-family: "Unability";
    src: url('/fuentes/unability/unability-webfont.woff2') format('woff2'),
        url('/fuentes/unability/unability-webfont/woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo{
    height: 50px;
    width: auto;
}

nav{
    background-color: white;
    color: black;
    display: flex;
    height: 60px;

}

.gastro{
    background-color: #bcfccf;
    height: auto;
    max-width: 100%;
    position: relative;
    text-align: right;
}

.gif{
    background-image: url(img/fondo-random.jpg);
    object-fit: cover;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.gif-1{
    object-fit: cover;
    width: 70vw;
    margin: auto;
    display: block;
}

.container-fluid{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    font-family: "Unability", Sans-serif;
}


.gastro h2{
    font-size: 40px ;
}

.gastro p{
    font-size: 60px ;
}


.gastro .logogastro{
    height: 220px;
    width: auto;
}

/** footer**/

footer img{
    height: 250px;
}

.footer-text{
    color: #65ecc9;
    font-size: 15px;
}

.copy{
    text-align: center;
}

/* Style the button and place it in the middle of the container/image */
.gastro .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #92f6dd;
    color: black;
    font-size: 1.5vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.gastro .btn:hover {
    background-color: rgb(100, 100, 100);
}



/* newsletter*/

.newsletter {
    padding: 80px 0;
    background: #19beda;
}
    
.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}
.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; 
}
.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
}
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}
.newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
}

/* Style all font awesome icons */
.fa {
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: black;
  }
  
  /* Twitter */
  .fa-twitter {
    color: black;
  }

  .fa-instagram{
      color: black;
  }

  /********************* Shopping Demo-6 **********************/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{
    font-family:'Open Sans',sans-serif;
    text-align:center;
    position:relative;
    transition:all .5s ease 0s
}
.product-grid6:hover{
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
.product-grid6 .product-image6 a{
    display:block
}
.product-grid6 .product-image6 img{
    width:100%;height:auto;
    transition:all .5s ease 0s
}
.product-grid6:hover .product-image6 img{
    transform:scale(1.1)
}
.product-grid6 .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s
}
.product-grid6:hover .product-content{
    opacity:0
}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

.emprendimientos{
    background-color: #bec5ff;
    height: auto;
    width: auto;
    position: relative;
    font-family: "Unability", Sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

}


.emprendimientos .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #92f6dd;
    color: black;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.emprendimientos .btn:hover {
    background-color: rgb(100, 100, 100);
}

.float-none{
    height: 100px;
    display: block;
    margin: auto;

}


.ver-carta{
    FLEX-DIRECTION: column;
    ALIGN-CONTENT: center;
    JUSTIFY-CONTENT: center;
    HEIGHT: 100%;
}

.video{
    width: 30vw;
    height: auto;
}






@media only screen and (max-width: 600px) {
    .gif-1{
        width: 80vw;
        
    }
  }

.slider{
    height: auto;
    width: auto;
    background-color: #a7b0ff;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sli-prox{
    height: 8vw;
    width: auto;
}
              