*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav{
    background-color: white;
    color: black;
    display: flex;
    height: 60px;

}

.gastro{
    background-color: #bcfccf;
    height: 600px;
    width: auto;
}

.gif{
    background-image: url(img/fondo-random.jpg);
    object-fit: cover;
    height: 700px;
    width: auto;
}

.container-1{
    text-align: right;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Unability", Sans-serif;

}

.gastro h2{
    font-size: 40px ;
}

.gastro p{
    font-size: 60px ;
}

/** footer**/

footer img{
    height: 250px;
}

.footer-text{
    color: #65ecc9;
    font-size: 15px;
}

.copy{
    text-align: center;
}

/* Style the button and place it in the middle of the container/image */
.gastro .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.gastro .btn:hover {
    background-color: black;
}



/* newsletter*/

.newsletter {
    padding: 80px 0;
    background: #19beda;
}
    
.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}
.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; 
}
.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
}
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}
.newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
}

/* Style all font awesome icons */
.fa {
    font-size: 30px;
    width: 50px;
    text-align: left;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: black;
  }
  
  /* Twitter */
  .fa-twitter {
    color: black;
  }

  .fa-instagram{
      color: black;
  }